<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!--<link rel="stylesheet" type="text/css"  href="${pageContext.request.contextPath}/static/js/home.js">-->

    <script type="text/javascript" th:src="@{/js/home.js}"></script>
    <!--<script th:src="|${jsLocation}/js/home.js|"></script>-->
</head>
<body>
    <p th:text="${name}"/>

    <select id="select-container" name="referenceMovies" multiple="multiple" style="width: 400px">
    </select>

    <button id="get-recommendations">Get recommendations</button>

    <div id="recommendations"></div>
</body>
</html>